<div class="jumbotron text-center">
  <h3>The Universe is the totality of everything that exists, has existed, or even will exist.</h3>
  <p>
    This Q&amp;A site is dedicated to questions about the history of the universe.
  </p>
</div>


<div class="bs-example" data-example-id="default-media">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img src="http://www.gravatar.com/avatar/sadfasd" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">user@emai.com asked:</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
      <div><a href="/questions/12" class="btn btn-success btn-xs">View Answers</a></div>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img src="http://www.gravatar.com/avatar/sadfasd" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">testUser@email.com asked:</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
      <div><a href="/questions/12" class="btn btn-success btn-xs">View Answers</a></div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img src="http://www.gravatar.com/avatar/sadfasd" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">testUser@email.com asked:</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
      <div><a href="/questions/12" class="btn btn-success btn-xs">View Answers</a></div>
    </div>
  </div>

</div>
