<div class="bs-example" data-example-id="default-media">
  <div class="lead well">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://www.gravatar.com/avatar/sadfasd" />
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@emai.com asked:</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
          faucibus.
        </div>
      </div>
    </div>
</div>


<div class="row">


  <div class="col-sm-8 col-sm-offset-2">
    <div style="margin: 20px 0;">
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">
        Submit new answer
      </button>
    </div>

    <%= render 'home/new_answer_form' %>

    <div class="bs-example" data-example-id="default-media">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://www.gravatar.com/avatar/sadfasd" />
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@emai.com answered:</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
          faucibus.
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://www.gravatar.com/avatar/sadfasd" />
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">testUser@email.com answered:</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
          faucibus.
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://www.gravatar.com/avatar/sadfasd" />
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">testUser@email.com answered:</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
          faucibus.
        </div>
      </div>

    </div>
  </div>
</div>
